@import './loading';
@import './base-vars';

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

body {
  font: 16px Helvetica, Arial;
}

header {
  background-color: $clr-header-bg;
  color: $clr-scheme-10;
  padding: 1em 1em;
}

.prompt-idea {
  color: $clr-loud;
}

button {
  padding: 5px;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  &:-moz-focus-inner {
    border: 0;
  }
  &:focus {
    outline: none;
  }
  &.action, &.add-idea {
    background-color: $clr-loud;
    color: $clr-scheme-10;
    &:active {
      background-color: $clr-scheme-10;
      color: $clr-loud;
    }
  }
  &.add-arg {
    border: none;
    background-color: inherit;
    color: $clr-loud;
  }
}

.topic {
  div:nth-child(1) {
    color: $clr-loud;
    font-size: 1.4em;
  }
  div:nth-child(2) {
    color: $clr-quiet;
  }
  padding-bottom: 1em;
}

.bv-list-heading {
  color: $clr-scheme-50;
  border-bottom: 2px solid $clr-scheme-50;
}

.bv-list {
  display: flex;
  flex-direction: column;
  li {
    width: 100%;
    display: flex;
    div {
      flex: 1;
    }
  }
}

.idea-pane {
  padding: 2em;
}

@media (max-width: 600px) {
    body { 
      font: 16px Helvetica, Arial;
    }
    .bv-list {
      li.idea {
        flex-direction: column;
        .idea-descr {
          color: $clr-scheme-90;
        }
        .idea-procon{
          &::before{
            content: "pros and cons";
            color: $clr-scheme-90;
          }
          div {
            &::before {
              content: "-";
            }
            padding-left: 1em;
          }
        }
      }
    }
}
